body {
  margin: 0;
}

#generalDiv {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}


#sideInfoDiv {
  margin: 0;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#userInfoDiv {
  height: 20%;
  width: 100%;
  background-color: gray;
}

#leaderboardDiv {
  height: 80%;
  width: 100%;
  background-color: black;
}



#gameDiv {
  z-index: 5;
  overflow: visible;
  margin: 0;
  width: 80%;
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

#gameScoreDiv {
  z-index: 10;  
  overflow: visible;
  height: 15%;
  width: 100%;
  position: fixed;
}

#fishSpawnDiv {
  z-index: 10;
  display: none;
  overflow: visible;
  height: 85%;
  width: 100%;
  position: fixed;
  top: 15%;
}

#startButton, #tryAgainButton{
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
  height: 10%;
  width: 40%;
  border-radius: 30px;
  font-size: 200%;
}

#tryAgainButton {
  display: none;
}

.NormalFishFaceRight, .GoldFishFaceRight, .PufferfishFaceRight {
  z-index: 15;
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 100px;
  animation-name: slideLtoR;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.NormalFishFaceLeft, .GoldFishFaceLeft, .PufferfishFaceLeft {
  z-index: 15;
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 100px;
  animation-name: slideRtoL;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.NormalFishFaceRight { background-image: url("../image/normal-fish-face-right.png"); animation-duration: 3s; }
.NormalFishFaceLeft  { background-image: url("../image/normal-fish-face-left.png"); animation-duration: 3s; }

.GoldFishFaceRight   { background-image: url("../image/gold-fish-face-right.png"); animation-duration: 1.5s; }
.GoldFishFaceLeft    { background-image: url("../image/gold-fish-face-left.png"); animation-duration: 1.5s; }

.PufferfishFaceRight { background-image: url("../image/pufferfish-face-right.png"); animation-duration: 3s; }
.PufferfishFaceLeft  { background-image: url("../image/pufferfish-face-left.png"); animation-duration: 3s; }






@keyframes slideLtoR {
  0% {
    transform: translateX(0); /* Starts at original position */
  }
  100% {
    transform: translateX(calc(100vw)); /* Ends at edge of screen */
  }
}

@keyframes slideRtoL {
  0% {
    transform: translateX(100vw); /* Starts at original position */
  }
  100% {
    transform: translateX(calc(0)); /* Ends at edge of screen */
  }
}
